/* Global Amiga Workbench Styles */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import './styles/drag.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Press Start 2P', 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  height: 100%;
}

/* Prevent text selection on UI elements */
.amiga-desktop,
.workbench-menu,
.disk-icon,
.window-titlebar {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Allow text selection in window content */
.window-content {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
